@font-face {
  font-family: 'sewstain';
  src: url('../fonts/sewstain..otf') format('truetype');
}
/*----------------------------------------------

-------------------------------------------------*/

*{
  padding: 0;
  margin: 0;
  border: 0;
}

/*----------------------------------------------

 Logo

-------------------------------------------------*/
#logo {
  margin: 5px 450px;
}

/*----------------------------------------------

Nav Bar

-------------------------------------------------*/
header{
 margin: 0 auto;
 text-align: center;

}

header nav li{
  display: inline-block;
  margin: 20px auto;
  color: black;
}

header nav a{
  padding: 15px 60px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: -5px;
  font-weight: bold;
}

header nav a:visited {
  color: #77917B;
}

header nav a:hover {
  color: #97636D;
}

header nav a:active {
  color: #D0ABAE;
}
/*----------------------------------------------

Index Body

-------------------------------------------------*/

.container {
  width: 1350px;
  height: auto;
  background-color: pink;
  margin: 0px auto;
  position: absolute;
}

h1 {
  font-family: 'sewstain',cursive;
  font-size: 46px;
  text-shadow: 1px 1px 2px white, 0 0 1em grey, 0 0 0.2em grey;
  margin: 50px 25px;
  width: 200px;
  float: right;
  color: black;
  padding: 0 370px;
}

h2 {
  font-family: 'sewstain',cursive;
  font-size: 80px;
  text-shadow: 1px 1px 2px white, 0 0 1em grey, 0 0 0.2em pink;
  width: 400px;
  margin: 0 550px;
  color: white;
  padding: 15px 0 0;
}

.products{
  width: 300px;
  height: 400px;
  float: left;
  margin: 0px 200px 20px 250px;

}

.look {
  margin: -450px 25px 0 150px;
  float: right;
}

.look p{
  float: right;
  margin: 20px 400px 0 30px;
  font-size: 20px;
}

.look p::before{
  content: "\2764";

}

.look p::after{
  content: "\2764";
}

.lookblock{
  display: block;
  float: right;
  width: 150px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  margin: 20px 420px 0 10px;
  border-radius: 20px;
  background-color: #77917B;
  text-transform: uppercase;
}

.lookblock a{
  text-decoration: none;
}

.lookblock a:hover{
  color: #719675;
}
.about {
  background-color: black;
  margin: 420px 0 0 0;
  width: auto;
  height: 250px;
}

.bio {
  color: white;
  width: 700px;
  float: left;
  margin: 0 0 0 320px;
  line-height: 1.5;
}

.makeup-gurus{
  background-color: #77917B;
  height: 200px;
  width: auto;
  margin: 50px 0 0 0;
}

.guru {
  float: left;
  width: 300px;
  font-size: 16px;
  margin: 50px 0 0 400px;
  text-shadow: 1px 1px 2px grey, 0 0 1em grey, 0 0 0.2em grey;
}

.gurusblock{
  float: left;
  display: block;
  width: 150px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  background-color: #97636D;
  text-transform: uppercase;
  margin: 10px 500px 0 510px;
}

.gurusblock a{
  text-decoration: none;
}

.gurusblock a:hover{
  color: #719675;
}
/*----------------------------------------------

Eyes Body

-------------------------------------------------*/
.contain{
  width: 1350px;
  height: auto;
}

.bloodlust {
  margin: 50px 0 0 200px;
  float: left;
}

/*======================================================

Lips

======================================================*/
h4 {
  text-decoration: underline;
  font-stretch: semi-expanded;
  font-family: 'sewstain', cursive;
  font-size: 24px;
}

.badapple {
  width: 300px;
  text-align: center;
  padding: 10px 0 0;
}

.badapplelippie {
padding: 10px 20px 0 20px;
margin: 0px -50px 0 200px;
}

.block {
  display: block;
  width: 150px;
  background-color: #E2A8aF;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0px 10px 0 300px;
  font-weight: bold;

}

.block a{
  text-decoration: none;
  color: #000;
}

.mood {
  width: 300px;
  text-align: center;
  padding: 10px 0 0;

}
.moodlippie {
margin: -480px 100px 0 550px;
}

.moody {
  display: block;
  width: 150px;
  background-color: #E2A8aF;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0px 10px 0 620px;
  font-weight: bold;

}

.moody a{
  text-decoration: none;
  color: #000;
}

.playful{
  width: 300px;
  text-align: center;
  padding: 10px 0 0;
}
.playfullippie {
  margin: -480px 100px 0 880px;
}

.play {
  display: block;
  width: 150px;
  background-color: #E2A8aF;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0px 10px 0 950px;
  font-weight: bold;

}

.play a{
  text-decoration: none;
  color: #000;
}

/*======================================================

Eyes index

======================================================*/

.gem {
  margin: 0 240px 0 200px;
}

.gem {
  width: 300px;
  text-align: center;
  padding: 10px 0 0;
}

.gemblock {
  display: block;
  width: 150px;
  background-color: #E2A8aF;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0px 10px 0 280px;
  font-weight: bold;

}

.gemblock a{
  text-decoration: none;
  color: #000;
}

.waves {
  margin: -435px 100px 0 550px;
}

.wave {
  width: 300px;
  text-align: center;


}
.wave h4 {
  margin: 0 200px 0 100px;
}

.waveblock {
  display: block;
  width: 150px;
  background-color: #E2A8aF;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0px 10px 0 620px;
  font-weight: bold;

}

.waveblock a{
  text-decoration: none;
  color: #000;
}

.bloodlust{
  margin: -440px 800px 0 900px;

}

.blood{
  width: 300px;
  text-align: center;

}
.bloodlust h4{
  margin: 0 200px 0 80px;
}

.bloodblock {
  display: block;
  width: 150px;
  background-color: #E2A8aF;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: -70px 0 0 970px;
  font-weight: bold;

}

.bloodblock a{
  text-decoration: none;
  color: #000;
}

/*======================================================

Contact Page

======================================================*/

/*======================================================

footer

======================================================*/

.end {
  background-color: black;
  color: white;
  text-align: center;
}
