@font-face {
  font-family: 'sewstain';
  src: url('../fonts/sewstain..otf') format('truetype');
}
/*----------------------------------------------

-------------------------------------------------*/

*{
  padding: 0;
  margin: 0;
  border: 0;
}

/*----------------------------------------------

 Logo

-------------------------------------------------*/
#logo {
  margin: 5px 450px;
}

/*----------------------------------------------

Nav Bar

-------------------------------------------------*/
header{
 margin: 0 auto;
 text-align: center;

}

header nav li{
  display: inline-block;
  margin: 20px auto;
  color: black;
}

header nav a{
  padding: 15px 60px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: -5px;
  font-weight: bold;
}

header nav a:visited {
  color: #77917B;
}

header nav a:hover {
  color: #97636D;
}

header nav a:active {
  color: #D0ABAE;
}
/*----------------------------------------------

Index Body

-------------------------------------------------*/

.container {
  width: 1350px;
  height: auto;
  background-color: pink;
  margin: 0px auto;
  position: absolute;
}

h1 {
  font-family: 'sewstain',cursive;
  font-size: 46px;
  text-shadow: 1px 1px 2px white, 0 0 1em grey, 0 0 0.2em grey;
  margin: 50px 25px;
  width: 200px;
  float: right;
  color: black;
  padding: 0 370px;
}

h2 {
  font-family: 'sewstain',cursive;
  font-size: 80px;
  text-shadow: 1px 1px 2px white, 0 0 1em grey, 0 0 0.2em pink;
  width: 400px;
  margin: 0 550px;
  color: white;
  padding: 15px 0 0;
}

.products{
  width: 300px;
  height: 400px;
  float: left;
  margin: 10px 200px 20px 250px;

}

.look {
  margin: -450px 25px 0 150px;
  float: right;
}

.look p{
  float: right;
  margin: 20px 400px 0 30px;
  font-size: 20px;
}

.look p::before{
  content: "\2764";

}

.look p::after{
  content: "\2764";
}

.lookblock{
  display: block;
  float: right;
  width: 150px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  margin: 60px -240px 0 10px;
  border-radius: 20px;
  background-color: #77917B;
  text-transform: uppercase;
}

.lookblock a{
  text-decoration: none;
}

.lookblock a:hover{
  color: #719675;
}
.about {
  background-color: black;
  margin: 420px 0 0 0;
  width: auto;
  height: 250px;
}


.bio {
  color: white;
  width: 700px;
  float: left;
  margin: 0 0 0 320px;
  line-height: 1.5;
}

.gallery{
  margin: -170px 0 0 700px;
}
.makeup-gurus {
  background-color: #77917B;
  height: 300px;
  width: auto;
  margin: 30px 0 0 0;
  padding: 20px 0 0 0;
}


.guru {
  width: 300px;
  font-size: 16px;
  margin: 20px 0 0 300px;
  text-shadow: 1px 1px 2px grey, 0 0 1em grey, 0 0 0.2em grey;
  padding: 10px 0 0;
}

.gurusblock{
  display: block;
  width: 150px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  background-color: #97636D;
  text-transform: uppercase;
  margin: 30px 450px 0 330px;
  border-radius: 20px;
}

.gurusblock a{
  text-decoration: none;
}

.gurusblock a:hover{
  color: #719675;
}
/*----------------------------------------------

Eyes Body

-------------------------------------------------*/
.contain{
  width: 1350px;
  height: auto;
}

.bloodlust {
  margin: 50px 0 0 200px;
  float: left;
}

/*======================================================

Lips

======================================================*/
h4 {
  text-decoration: underline;
  font-stretch: semi-expanded;
  font-family: 'sewstain', cursive;
  font-size: 24px;
}

.badapple {
  width: 300px;
  text-align: center;
  padding: 10px 0 0;
}

.badapplelippie {
padding: 10px 20px 0 20px;
margin: 10px -50px 0 200px;
}

.block {
  display: block;
  width: 150px;
  background-color: #E2A8aF;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0px 10px 50px 280px;
  font-weight: bold;
  border-radius: 20px;

}

.block a{
  text-decoration: none;
  color: #000;
}

.block a:hover{
  color: #719675;
}

.mood {
  width: 300px;
  text-align: center;
  padding: 10px 0 0;

}
.moodlippie {
margin: -515px 100px 0 550px;
}

.moody {
  display: block;
  width: 150px;
  background-color: #E2A8aF;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0px 10px 50px 620px;
  font-weight: bold;
  border-radius: 20px;

}

.moody a{
  text-decoration: none;
  color: #000;
}

.moody a:hover{
  color: #719675;
}
.playful{
  width: 300px;
  text-align: center;
  padding: 10px 0 0;
}
.playfullippie {
  margin: -515px 100px 0px 880px;
}

.play {
  display: block;
  width: 150px;
  background-color: #E2A8aF;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 20px 10px 50px 950px;
  font-weight: bold;
  border-radius: 20px;

}

.play a{
  text-decoration: none;
  color: #000;
}

.play a:hover{
  color: #719675;
}
/*======================================================

Eyes index

======================================================*/

.gem {
  margin: 0 240px 0 200px;
}

.gem {
  width: 300px;
  text-align: center;
  padding: 10px 0 0;
}

.gemblock {
  display: block;
  width: 150px;
  background-color: #E2A8aF;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0px 10px 0 250px;
  font-weight: bold;
  border-radius: 20px;

}

.gemblock a{
  text-decoration: none;
  color: #000;
}

.gemblock a:hover{
  color: #719675;
}

.waves {
  margin: -415px 100px 0 550px;
}

.wave {
  width: 300px;
  text-align: center;


}
.wave h4 {
  margin: 0 200px 0 100px;
}

.waveblock {
  display: block;
  width: 150px;
  background-color: #E2A8aF;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0px 10px 0 590px;
  font-weight: bold;
  border-radius: 20px;

}

.waveblock a{
  text-decoration: none;
  color: #000;
}

.waveblock a:hover{
  color: #719675;
}
.bloodlust{
  margin: -420px 800px 0 900px;

}

.blood{
  width: 300px;
  text-align: center;

}
.bloodlust h4{
  margin: 0 200px 0 80px;
}

.bloodblock {
  display: block;
  width: 150px;
  background-color: #E2A8aF;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0 10px 0px 950px;
  font-weight: bold;
  border-radius: 20px;

}

.bloodblock a{
  text-decoration: none;
  color: #000;
}

/*======================================================

Contact Page

======================================================*/

h5{
  font-family: 'sewstain', cursive;
  font-size: 50px;
    text-shadow: 1px 1px 2px white, 0 0 1em grey, 0 0 0.2em pink;
    color: #77917B;
    text-align: center;
    padding: 10px 0 0;
    background-color: black;
}

h5::before{
  content: '\2665';
}

h5::after{
  content: '\2665';
}
.contact-form{
  background: black;
  padding: 20px;
  color: white;
  border-radius: 4px;
  height: 500px;
}

figure{
  margin: -470px 200px 0 700px;
  animation-name: slide;
  animation-duration: 3s;
}

@keyframes slide {
  from{
    transform: translateX(-200px);
  }

  to{
    transform: translateZ\X(200px);
  }
}

figcaption{
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
  margin: 0 50px 0 600px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.pic:hover .overlay{
  opacity: 1;
}
.label_input_wrap{
  display: block;
}

.submit input{
 background: pink;
 padding: 5px 20px;
 display: inline;
 margin: 10px 10px 0 125px;
 font-size: 16px;
}

.input-section{
  margin: 20px 50px 5px 100px;

}
input{
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 16px;
}

textarea{
  padding: 10px 10px;
}


/*======================================================

footer

======================================================*/

footer{
  background-color: black;
}
  footer nav li{
    display: inline-block;
    margin: 20px 70px 0 80px;
    color: black;
    text-align: center;
    background-color: black;
  }

  footer nav a{
    padding: 15px 60px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    margin: -5px;
    font-weight: bold;
  }

  footer nav a:visited {
    color: #77917B;
  }

  footer nav a:hover {
    color: #97636D;
  }

  footer nav a:active {
    color: #D0ABAE;
  }

footer p{
  color: white;
  text-align: center;
  margin: 10px 200px 0 100px;
}
